@import "compass/css3";
@import "common";
@import "custom_variables";
@import "custom_mixins";

.add-new-event-container {
  background-color: white;
  padding: 4%;

  [class*='-text'] {
    @include common-font;
    font-size: 14px;
    color: $green;
    line-height: 20px;
  }
  input, select, button, li {
    font-size: 10px;
  }
  [class*='-select'] {
    border: 1px solid black;
    @include border-radius(0px);
    @include appearance(none);
    height: 50px;
    background: url(/assets/collapsed_menu.png) no-repeat;
    background-size: 13px 11px;
    background-position: 91% 50%;
    padding-left: 8px;
  }
  .generic-field-container {
    margin-bottom: 15px;
  }
  .generic-field-container:hover {
    @include generic-field-container-transform;  
  }
  .new-event-form-upper, .new-event-form-lower {
    background-color: $event-form-light-grey;
    padding: 4% 4% 0 4%;
    overflow: hidden;
    margin-bottom: 4%;
  }

  .new-event-submit-button {
    @include generic-field-container;
    background-color: $green;
    color: white;
    height: 35px;
    margin: 0px;
  }
  .mandatory-button {
    padding-left: 0px;
    padding-right: 5px;
  }
  .not-mandatory-button {
    padding-left: 5px;
    padding-right: 0px;
  }
  [class*='mandatory-section'] {
    overflow: hidden;
    .col-sm-4 {
      padding-left: 0px;
      padding-right: 10px;
    }
  }
  .event-day-list {
    li {
      @extend .generic-field-container;
      @extend .col-sm-17;
      margin-right: -2px;
      list-style: none;
    }
  }
  .pressed {
    background-color: $green;
    color: white;  
  }
  .prediction-list {
    margin: 0 0 15px 0;
    padding: 0;
    li {
      font-size: 10px;
      width: 100%;
      background-color: white;
      display: inline-block;
    }
    li:hover {
      @include transition(all 1s ease);
      background-color: $green;
      color: white;  
    }
  }
}