@import "compass/css3";
@import "custom_variables";

.grid {
  margin: 0px auto;
  margin-bottom: 30px;
  max-width: 80em;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear-float {
  overflow: hidden;
}

.hidden {
  display: none;
}

.no-text-decoration {
  a {
    text-decoration: none;
    color: black;
  }
}

.no-list-style {
  list-style: none;
}

.vert-ctr {
  position: relative;
  top: 50%;
  display: block;
  @include transform(translateY(-50%));
}

.inner-vert-ctr {
  * {
    position: relative;
    top: 50%;
    display: block;
    @include transform(translateY(-50%));
  }
}

.hori-ctr {
  position: relative;
  display: block;
  left: 50%;
  @include transform(translateX(-50%));
}

.inner-hori-ctr {
  * {
    position: relative;
    display: block;
    left: 50%;
    @include transform(translateX(-50%));
  }
}

@mixin common-font {
  font: normal normal normal 11px/normal 'Lucida Grande';   
}

.center {
  @extend .hori-ctr;
  @extend .vert-ctr;
}

.inner-center {
  @extend .inner-hori-ctr;
  @extend .inner-vert-ctr; 
}

@mixin generic-field-container {
  @include input-placeholder {
    color: black;
    text-align: center;
  }
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 0px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

@mixin generic-field-container-transform {
  @include transition(all 1s ease);
  @include input-placeholder {
    color: white;
  }
  background-color: black;
  color: white;
}

.generic-field-container {
  @include generic-field-container;
}
.generic-field-container:hover {
  @include generic-field-container-transform;  
}
.inline-field-container {
  @include generic-field-container;
  margin: 0;
}
.inline-field-container:hover {
  @include generic-field-container-transform;
}
.borderless-field-container {
  @include generic-field-container;
  border: none;
}
