@import "compass/css3";
@import "custom_variables";
@import "custom_mixins";

body {
  background-color: $background-green !important;
}

#content {
  overflow:hidden;
}

.container {
  min-width: 1250px;
}

.show-grid {
  margin-bottom: 15px;
}

.grid {
  margin: 0px auto;
  margin-bottom: 30px;
  max-width: 80em;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin full-extend-background($color) {
  margin-right: -3000px !important;
  padding-right: 3000px !important;
  margin-left: -3000px !important;
  padding-left: 3000px !important;
  background-color: $color;
}

@mixin generic-toggle {
  height: 15px;
  width: 15px;
  border-left: 4px solid $green;
  border-bottom: 4px solid $green;
  position: absolute;
  z-index: 20;
}

.full-extend-white-background {
  @include full-extend-background(white);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear-float {
  overflow: hidden;
}

.hidden {
  display: none;
}

.no-text-decoration {
  a {
    text-decoration: none;
    color: black;
  }
}

.no-list-style {
  list-style: none;
}

.vert-ctr {
  position: relative;
  top: 50%;
  display: block;
  @include transform(translateY(-50%));
}

.inner-vert-ctr {
  * {
    position: relative;
    top: 50%;
    display: block;
    @include transform(translateY(-50%));
  }
}

.hori-ctr {
  position: relative;
  display: block;
  left: 50%;
  @include transform(translateX(-50%));
}

.inner-hori-ctr {
  * {
    position: relative;
    display: block;
    left: 50%;
    @include transform(translateX(-50%));
  }
}

@mixin common-font {
  font: normal normal normal 11px/normal 'Lato';   
}

.center {
  @extend .hori-ctr;
  @extend .vert-ctr;
}

.inner-center {
  @extend .inner-hori-ctr;
  @extend .inner-vert-ctr; 
}

.generic-field-container {
  @include generic-field-container;
}

.inline-field-container {
  @include generic-field-container;
  margin: 0;
}
.inline-field-container:hover {
  @include generic-field-container-transform;
}
.borderless-field-container {
  @include generic-field-container;
  border: none;
}

// customize bootstrap column-level gutters size
.col-5-gutter {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.col-0-gutter {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


// fix bootstrap no 20% column issue
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

// fix bootstrap no 14.2% column issue
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-17 {
    width: 14.2%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-17 {
        width: 14.2%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-17 {
        width: 14.2%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-17 {
        width: 14.2%;
        float: left;
    }
}
