$background-green: #354051;
$event-form-light-grey: #f4f4f4;
$green: #1abc9c;
$blue: #3498db;
$dark-red: #eb843d;
$task-button-grey: #b7bec3;
$task-button-hover-grey: #3c495f;
$task-button-border-grey: #2f3b4c;