@import "compass/css3";
@import "custom_variables";
@import "custom_mixins";
@import "common";

.full-calendar {
  background-color: white;
  padding: 15px;
  .control-panel {
    font-weight: 500;
    .control-panel-middle {
      padding-top: 10px;
    }
    .control-button {
      @include task-button($green, $green, white);
      height: 40px !important;
    }
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .more-calendar-toggle {
    @include generic-toggle;
    top: 50%;
    left: 19px;
    cursor: pointer;
    @include transform(translateY(-50%) rotate(45deg));
  } 
  .more-calendar-toggle-inverted {
    @include transform(translateY(-50%) rotate(225deg));
    left: 11px !important;
  }
  .full-calendar-main {
    height: 798px;
    overflow: scroll;
  }
}

