@import "compass/css3";
@import "common";
@import "custom_variables";
@import "custom_mixins";

.container {
  .user-profile {
    .profile-picture {
      width: 100px;
      height: 100px;
    }
    .username-container {
      border: 1px solid black;
      padding: 5px 10px;
    }
    .username-text {
      margin-right: 15px;
    }
    .profile-dropdown-button {
      @include arrow-down;
      cursor: pointer;
    }
    .drop-down-menu {
      margin-top: 3px;
      position: absolute;
      list-style: none;
      border: 1px solid black;
      padding: 6px 16px;
      .drop-down-text-container {
        cursor: pointer;
        a {
          text-decoration: none;      
          color: black;
        }
        font-size: 0.7em;
        padding: 3px 0;
        line-height: 1;
      }
    }
    .user-profile-right {
      overflow: hidden;
    }
  }

  .scheduled-events {
    * {
      @include common-font;
    }
    .event-field {
      text-align: center;
    }
    .event-title {
      span {
        font-weight: bold;
      }
    }
    .extra-info {
      left: -22%;
      position: absolute;
    }
  }

  .google-map-section {
    height: 380px;
  }
}
