@import "compass/css3";
@import "common";
@import "custom_variables";
@import "custom_mixins";

.container {
  .user-profile {
    .profile-picture {
      width: 100px;
      height: 100px;
    }
    .username-container {
      border: 1px solid black;
      padding: 5px 10px;
    }
    .username-text {
      margin-right: 15px;
    }
    .profile-dropdown-button {
      @include arrow-down;
      cursor: pointer;
    }
    .drop-down-menu {
      margin-top: 3px;
      position: absolute;
      list-style: none;
      border: 1px solid black;
      padding: 6px 16px;
      .drop-down-text-container {
        cursor: pointer;
        a {
          text-decoration: none;      
          color: black;
        }
        font-size: 0.7em;
        padding: 3px 0;
        line-height: 1;
      }
    }
    .user-profile-right {
      overflow: hidden;
    }
  }

  .scheduled-events {
    * {
      @include common-font;
    }
    .event-field {
      text-align: center;
    }
  }

  .google-map-section {
    height: 703px;
  }

  .add-new-event-container {
    [class*='-text'] {
      @include common-font;
    }
    [class*='-select'] {
      border: 1px solid black;
      @include border-radius(0px);
      @include appearance(none);
      height: 50px;
      background: url(/assets/collapsed_menu.png) no-repeat;
      background-size: 13px 11px;
      background-position: 91% 50%;
      padding-left: 8px;
    }
    .merge-right-border {
      margin-right: -1px;
    }
    .event-day-list {
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
    .day-container {
      list-style: none;
      margin: 0;
      li {
        cursor: pointer;
        text-align: center;
        margin-right: -1px;
        line-height: 36px;
        text-decoration: none;
        border: 1px solid black;
        width: 50px;
        font-family: Roboto Slab;
        font-size: 10px;  
        display: inline-block;
      } 
    }
    .prediction-list {
      margin: 0;
      padding: 0;
      li {
        background-color: white;
        display: inline-block;
      }
      li:hover {
        @include transition(all 1s ease);
        background-color: black;
        color: white;  
      }
    }
  }
}
