@import "compass/css3";
@import "common";
@import "custom_variables";
@import "custom_mixins";

.optimized-schedule {
  background-color: white;
  padding: 4%;
  .control-panel {
    font-weight: 500;
    .control-panel-middle {
      padding-top: 10px;
    }
    .control-button {
      @include task-button($green, $green, white);
      height: 40px !important;
    }
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  #restart-button {
    @include nav-button($green);
    margin-bottom: 20px;
  }
  .optimized-schedule-main {
    height: 566px;
    overflow: scroll;
  }
}
