@import "compass/css3";
@import "common";
@import "custom_variables";
@import "custom_mixins";

.react-calendar {
  .data-row-header, .header-row-header {
    width: 120px;
    text-align: center;
    font-weight: bold;
  }
  .data-row-minor {
    border-top-style: dotted;
    border-width: 2px;
  }
  .header-row-data {
    text-align: center;
    padding: 0;
  }
  .data-row {
    height: 2.4em;
  }
  .data-row-data {
    background-color: $calendar-light-grey;
    position: relative;
    padding: 0px;
  }
  .data-row-data-inner {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  .event-time-text {
    font-weight: normal !important;
    color: white;
    padding-left: 5px;
  }
  .event-title-text {
    color: white;
    padding-left: 5px;
  }
}
