@import "compass/css3";
@import "common";
@import "custom_variables";
@import "custom_mixins";

.react-calendar-day {
  .data-row-header, .header-row-header {
    width: 15%;
    text-align: center;
    font-weight: bold;
  }
  .data-row-minor {
    border-top-style: dotted;
    border-width: 2px;
  }
  .header-row-data {
    text-align: center;
    padding: 0;
  }
  .data-row {
    height: 2.4em;
  }
  .data-row-data {
    background-color: $calendar-light-grey;
    position: relative;
    padding: 0px;
  }
  .data-row-data-inner {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  .event-time-text {
    font-weight: normal !important;
    color: white;
    padding-left: 5px;
  }
  .event-name-text {
    color: white;
    padding-left: 5px;
  }
  .borderless {
    td, th, .data-row-minor {
      border: none;
    }
    .data-row-header {
      border-right: 2px solid #ddd;
      color: $green;
      font-weight: normal;
    }
    .header-row-data {
      color: $green; 
      font-weight: normal;
    }
    .data-row-data {
      background-color: white;
    }
  }
  .succinct-inner {
    .data-row-data-inner {
      background-color: white !important;
      border-left: 4px solid $blue;
      margin-left: -2px;
    }
    .event-name-text {
      color: black !important;
    }
  }
}
.react-calendar-month {
  .data-row-data {
    background-color: $calendar-light-grey;
    text-align: center;
    font-weight: normal;
    position: relative;
    cursor: pointer;
  }
  .data-row-data-inner {
    margin-bottom: 10px;
  }
  .dot {
    position: absolute;
    height: 5px;
    width: 5px;
    bottom: 20%;
    border-radius: 50%;
    background-color: $blue;
  }
  .month-label {
    text-align: center;
    font-weight: bold;
  }
}
