@import "compass/css3";
@import "common";
@import "custom_variables";
@import "custom_mixins";

.scheduled-events {
  height: 650px;
  overflow: scroll;
  background-color: white;
  thead {
    th {
      font-weight: bold;
      background-color: $background-green;
      color: white;
      text-align: center;
    }  
  }
  tbody {
    th {
      background-color: white;
      color: black;
      text-align: center;
      vertical-align: middle !important;
    }
  }
  #optimize-button {
    @include nav-button($green);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #delete-event-button {
    @include delete-event-button($background-green);
  }
  .event-card-container {
    margin: 0;
    padding: 0 4% 4% 4%;
  }
}